.MuiTypography-body1 {
  font-size: 1rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  width: 90%;
  .MuiBox-root {
    max-height: 90vh;
    overflow-y: auto;
    margin: 0 auto;
    display: block;
    width: 100%;
  }
  .MuiGrid-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
  }
}
.makeStyles-tabs-2 {
  width: 232px;
}

h3 {
  font-size: 1.3em;
  color: #1a1a1a;
}
h4 {
  font-size: 1em;
  color: #f16c5a;
}
p {
  font-size: 0.9em;
}
.product-item {
  width: 300px;
  margin: 20px;
  padding: 0 0 10px;
  p {
    text-align: justify;
  }
  h3,
  h4,
  p {
    padding: 0 10px;
    margin: 2px 0;
  }
}
@media screen and (max-width: 1000px) {
  .makeStyles-tabs-2 {
    width: fit-content;
    margin: 0 auto;
    display: block;
    border-right: 0px solid rgba(0, 0, 0, 0.12) !important;
  }
  @media screen and (max-width: 450px) {
    .makeStyles-tabs-2 {
      width: auto;
      margin: 0 auto;
    }
    .product-item {
      width: 90%;
    }
  }
}
